*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

/****************************** nav-menu  *************************/
body{
    background: #efefef;
}

nav{
    padding: 5px 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    background: #fff;
    position: sticky;
    top: 0;
}

.nav-left{
    display: flex;
    justify-content: center;
}

.nav-left img{
    width: 40px;
    margin-right: 10px;
}

.nav-left .search{
    width: 250px;
    display: flex;
    align-items: center;
    background: #efefef;
    border-radius: 50px;
    padding: 0 20px;
}

.nav-left .search div i{
    font-size: 15px;
    margin-right: 4px;
}

.nav-left .search input{
    width: 100%;
    border: 0;
    background: transparent;
    outline: 0;
    padding: 2px
}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-right img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-right ul{
    display: flex;
    align-items: center;
}

.nav-right ul a{
    text-decoration: none;
}


.nav-right li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background: #efefef;
    cursor: pointer;
}

.nav-right li i{
    font-size: 20px;
    color: #363434;
}


.nav-midel ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-midel li{
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}

.nav-midel a{
    text-decoration: none;
}

.nav-midel li i{
    font-size: 20px;
    color: #363434;
}

.nav-midel li[class="inactive"]:hover{
    background: #efefef;
}

.nav-midel li[class="active"]::after{
    content: "";
    border-bottom: 3px solid #1876f2;
    width: 100%;
    position: absolute;
    top: 100%;
    border-radius: 1px;
}

.icone-message, .icone-notif{
    position: relative;
}
.icone-message::before, .icone-notif::before{
    position: absolute;
    content: "10";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 17px;
    padding:2px auto;
    background:#e5060e;
    top: 0;
    right:1px;
    color: #fff;
    border-radius: 8px;
    font-size: 14px;
}


/****************************** END nav-menu  *************************/



/****************************** aside-left  *************************/


.container{
    display: flex;
    justify-content: space-between;
    margin: 20px 1%;
    flex-wrap: wrap;
    background: #efefef;
}

.aside-left{
    flex-basis: 18%;
    position: sticky;
    align-self: flex-start;
    top: 80px;
}

.aside-left a{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    padding-left: 10px;
    width: 325px;
    height: 50px;
    border-radius: 10px;
    text-decoration: none;
}

.aside-left a:first-child img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.aside-left a img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.aside-left a i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #e7e0e0;
}

.aside-left a span{
    padding-left: 9px;
    color: #363434;
}

.aside-left a:hover{
    background: #ccc
}


/****************************** aside-right  *************************/

.aside-right{
    flex-basis: 18%;
    position: sticky;
    top: 80px;
    align-self: flex-start;
    overflow-y: scroll;
    height: 88vh;
}

.aside-right-title{
    display: flex;
    align-items:center;
    justify-content: space-between;
    color: #363434;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.aside-right-title-right{
    cursor: pointer;
}
   

.aside-right-title-right span:first-child{
    padding-right: 20px;
}

.aside-right-title-right span:last-child{
    padding-right: 20px;
}

.aside-right-member{
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.aside-right-member a{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 325px;
    height: 50px;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
}

.aside-right-member a img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


.aside-right-member a span,
.aside-right-groupe a span
{
    padding-left: 10px;
    color: #363434;
    font-size: 15px;
}

.aside-right-member a:hover{
    background: #ccc
}

.aside-right-member a::before{
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    top: 35px;
    left: 35px;
    z-index: 1;
}

.aside-right-groupe a{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 325px;
    height: 50px;
    border-radius: 10px;
    text-decoration: none;
}

.aside-right-groupe a div img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.aside-right-groupe a div{
    width: 40px;
    height: 40px;
    position: relative;
}

.aside-right-groupe a div img:nth-child(1){
    position: absolute;
    bottom: 0;
    left: 0;
}

.aside-right-groupe a div img:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
}

.aside-right-groupe a .online::before{
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    bottom: 0;
    right: 0;
}


/****************************** main-content  *************************/

.main-content{
    flex-basis: 35%;
    background:orange;
}